h1#about About
p
  | TPL or Tool Path Language is a programming language for creating
  | machine tool paths for
  | <a href="http://en.wikipedia.org/wiki/CNC">CNCs</a>.  It is based on
  | <a href="http://en.wikipedia.org/wiki/JavaScript">JavaScript</a>
  | and is a powerful replacement for the venerable but horribly
  | outdated <a href="http://en.wikipedia.org/wiki/G-code">GCode</a>
  | language.  However, TPL can output GCode so it remains compatible
  | with existing machine control software such as
  | <a href="http://www.linuxcnc.org/">LinuxCNC</a>.
p
  | TPL is part of the
  | <a href="https://camotics.org/">CAMotics project</a>
  | and can be used in conjunction with the CAMotics CNC simulator.
