// Math Functions
h2#math Math
p
  | JavaScript has built in math functions and constants which are
  | members of the built-in Math object.  The Math object is defined in
  | the
  | <a href="https://www.ecma-international.org/ecma-262/5.1/#sec-15.8",
  | target="_blank">EMCAScript specification, section 15.8</a> or in a
  | perhaps more readable format at
  | <a href="https://www.w3schools.com/js/js_math.asp",
  | target="_blank"> W3 Schools, Math object reference</a>.

  pre: code.example
    | var negOne = Math.cos(Math.PI);
