// Matrix Functions
h2#matrix Matrix
#pushMatrix.func
  code.decl pushMatrix(matrix)

#popMatrix.func
  code.decl popMatrix(matrix)

#loadIdentity.func
  code.decl loadIdentity(matrix)

#scale.func
  code.decl scale(x=1, y=1, z=1, matrix)

#translate.func
  code.decl translate(x=0, y=0, z=0, matrix)

#rotate.func
  code.decl rotate(angle, x=0, y=0, z=1, matrix)

//
  #setMatrix.func
    code.decl setMatrix(m, matrix)

//
  #getMatrix.func
    code.decl getMatrix(m)

#getXYZ.func
  code.decl getXYZ()
  p
    | Return an array of the current xyz position, i.e. [x, y, z].

#getX.func
  code.decl getX()
  p
    | Return the current x position.

#getY.func
  code.decl getY()
  p
    | Return the current y position.

#getZ.func
  code.decl getZ()
  p
    | Return the current z position.
