h1#api API
p
  | The TPL Application Programming Interface allows you to duplicate
  | any GCode program easily in a much more readable way but you also
  | have the full power of the JavaScript language at your finger tips
  | so much more is possible.  In fact you don't even need CAM software
  | you can model the shapes you want to cut directly in TPL.


include api-gcode.jade
include api-motion.jade
include api-mstate.jade
include api-matrix.jade
include api-math.jade
include api-output.jade
include api-module.jade
include api-cam.jade
include api-dxf.jade

// Tool Length Compensation
// Cutter Radius Compensation
// Path Modes
// Input / Output
// Lathe Modes
// Rigid Tapping
// Machine Physical Constraint Functions
// Tool Table
// Axes: min, max, speed, etc.
// Workpiece
// Fixtures
